footer {
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
    bottom: 0;
    border-top: 5px solid rgba(243, 106, 62, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-copyright {
    border-top: 1px solid rgb(70, 70, 70);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.footer-logo {
    background: url("/src/assets/devquiz-logo.png") no-repeat center center / contain;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}

.footer-impressum {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.footer-impressum a:is(:link, :visited, :hover, :active) {
    color: inherit;
}
